.weather {
    background-color : rgb(28, 28, 97);
    color : white;
    margin : 10px;
    font-family: 'Times New Roman', Times, serif;
}
​
.container {
    margin: 5 5 5 5;
    padding: 5 5 5 5;
}

.newarea {
    padding: 5 5 5 5;
    margin: 10 10 10 10;
    background-color:rgb(39, 39, 72);
    color: white;
    text-align: center;
    border-color: rgb(47, 77, 74);
    border-style: solid;
}

.row00, .row01, .row02 {
    padding: 10px;
    margin: 10px;
    
}

.card {
    padding: 10 10 10 10;
    margin: 10 10 10 10;
}